<div class="container">

  <div class="row">
    <form class="col s12" action="/create" method="post" enctype="multipart/form-data">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="row">
        <div class="input-field col s6">
          <input name="title" id="input_text" type="text">
          <label for="input_text">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="text" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
          <label for="textarea2">Content</label>
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="img" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="input-field col s6">
        <input class="btn" type="submit" value="작성">
      </div>
    </form>
  </div>
</div>

